
body {


  position: relative;
}
#s{
  border: none;
    display: none;
    color: #9298a2;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 40%;
    left: 28%;
    width: 600px;
    z-index: 1;
  font-size: 65px;
  background-color: white;
	 }

textarea:focus, input:focus
{

outline: none;

}

input
{
    text-align: center;
    padding-right: 39px;
}


input {
    width: 100%;
	  align-content:center;
}
#glog {
  display: none;
  z-index: 1;
  width: 380px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 60%);


}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media only screen
  and (min-device-width: 0px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)
	{

    #glog {
    display: none;
    z-index: 1;
        left: 50%;
    width: 780px;
  }
  #s {
    border: none;
    display: none;
    color: #9298a2;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 40%;
    left: 19%;
    width: 600px;
    z-index: 1;
    font-size: 85px;
    background-color: white;
}
}
