
body {
  position: relative;
}
[placeholder] {
  transition: opacity 0.5s 0s ease;
  opacity: 1;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0s ease;
  opacity: 0;
}

div.topbar {
    position: fixed;
    right: 0;
}
div.search {
  display: table-caption;
  position: fixed;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
#glog {
      z-index: -1;
      vertical-align: middle;
      width: 380px;
      position: relative;
}
#s{

opacity: 0;
    color: #9298a2;
    font-family: 'Roboto', sans-serif;

    border: 0px solid;

    width: 600px;

    font-size: 65px;
    background-color: white;
	 }

textarea:focus, input:focus
{

outline: none;

}

input
{
    text-align: center;

}

img#shaz {
    width: 40px;
    top: 13px;
    margin-left: 2px;
    margin-right: 10px;
    height: 40p;
    position: relative;
    border-radius: 45px;
}
input {
    width: 100%;
	  align-content:center;
}



}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
a {
  color: #808286 !important;
  text-decoration: none !important;
  margin: 7px;
}
div.fbar {
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    bottom: 0;
    font-family: arial,sans-serif;
    position: fixed;
    width: 100%

}

.gbii {
    background-image: url(//lh3.googleusercontent.com/-0Gq3Pu3Vx0k/AAAAAAAAAAI/AAAAAAAAAAA/AKB_U8u9MylHjcWW888-s-qrVNubIqwc4w/s32-c-mo/photo.jpg);
}

span#ftl {
    /* border: 1px solid #e4e4e4; */
    line-height: 40px;
    font-family: arial,sans-serif;
    font-size: small;
    display: block;
    float: right;
    padding-right: 13px;
}

span#fsr {
    margin-right: 30px;
    float: right;
    font-size: small;
    white-space: nowrap;
}
span#fsl {
    margin-left: 30px;
    font-size: small;
    white-space: nowrap;
}

div.credits
{
font-family: Roboto;
font-weight: 500;
/* border: 2px solid; */
font-weight: bold;
bottom: 10px;
font-size: 17px;
right: 20px;
color: #808286;
text-decoration: none;
position: fixed;
}

@media only screen
  and (min-device-width: 0px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)
	{

    #glog {
    z-index: 1;
    vertical-align: middle;
    width: 680px;
    position: relative;
}
#s {
    color: #9298a2;
    font-family: 'Roboto', sans-serif;
    border: 0px solid;
    width: 600px;
    z-index: 1;
    font-size: 115px;
    background-color: white;

}
div.fbar,a._Gs,a.shaz {
display: none;
}
img#shaz {
    width: 70px;
}

}
